<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.agenda-ej"
    version   = "1.0.0">

<name>Catalogo</name>

<description>
Ejemplo sencillo de agenda con fotos
</description>

<author href="" email="">
Academico
</author>
<icon src="images/icono-agenda.png" gap:density="ldpi" gap:platform="android" />
<icon src="images/icono-agenda.png" gap:density="mdpi" gap:platform="android" />
<icon src="images/icono-agenda.png" gap:density="hdpi" gap:platform="android" />
<icon src="images/icono-agenda.png" gap:density="xhdpi" gap:platform="android" />

<plugin name="cordova-plugin-dialogs" spec="~1.3.3" />


</widget>
